$red: #fb1d20; 
$yellow: #f9e112; 
$blue: #4067af; 
$orange: #e3621c; 

*{
    font-family: 'Pokemon Solid', sans-serif;
}

 //animation 
//  @keyframes rotate {
//     from {
//         transform: rotate(0deg);
//     }
//     to {
//         transform: rotate(360deg);
//     }
    
// }

@keyframes animation {

    from {
        transform: rotate(0deg) scale(2);

    }
    to {
        transform: rotate(360deg);
    }

}

@keyframes hyperballappear {
    
    from {
        left: -50%;
    }
    to {
        left: 25%
    }
}
@keyframes masterballappear {
    
    from {
        right: -50%;
    }
    to {
        right: 25%
    }
}

body{
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 0;
    padding: 0;

}
#foobar { display: none }
.center{
    position: relative;
    overflow: hidden;
    color: black;
    margin: 0;
    padding: 0;
    background-color: $red;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    #ball{
        width: 45%;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;

        &:hover{
            animation: giggle 0.3s ease-in-out;
            cursor: pointer;
        }

   
    }

    #picture{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        width: 90vw;
        height: 90vh;
        background-image: url(./assets/poke.gif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: none;

        #score_container{
            display: flex;
            justify-content: end;
            position: absolute;
            left: 65em;

            #score_incrementation{
                font-size: 80px;
                color: $blue;
            }

            #slash{
                font-size: 80px;
                color: #f9e112;
            }

            #total{
                font-size: 80px;
                color: $blue;
            }
        }
    }
}


#container{
    color: $red;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    #props{
        width: 55%;
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        margin-top: 50px;

        button{
            font-size: 32px;
            cursor: pointer;
            letter-spacing: 5px;
            color: #f9e112;
            background: $blue; 
            border-radius: 10px;
            line-height: 40px;
            border: none;

            &:hover{
                animation: giggle 0.2s ease-in-out forwards;
            }
        }
    }
    

    #bg{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        width: 100%;
    }
}

#quizz{
    width: 100%;
    display: flex;
}

#poke{
    filter: brightness(0);
    width: 20%;
    margin-right: auto;
    margin-left: 220px;
    margin-top: 90px;
}


@keyframes giggle{
    30%{
        transform: rotate(-5deg);
    }

    70% {
        transform: rotate(5deg);
    }

    100%{
        transform: rotate(-0deg);
    }
}

@keyframes gameLaunched {

    0%{
        transform: scale(1) rotate(0deg);
    }
    100%{
        opacity: 0.6;
        right: 500px;
        bottom: 100px;
        transform: scale(0) rotate(350deg);
    }
}

@keyframes bgDisplay {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
    
}

.container--acceuil {
    background-image: url(./assets/pokemonmap.png);
    background-size: cover;
    background-position: center center;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: 80vw;
    background-color: $blue;
    #leftpic, #rightpic {
        height: 100%;
        width: 50%;
        background-color: blue;
        border: 10px black solid;
        box-sizing: border-box;
        opacity: 1;
        transition: 2s;
    }
    #leftpic {
        background-image: url(./assets/leftpic.jpg);
        background-size: cover;
    }
    #rightpic {
        background-image: url(./assets/rightpic.jpg);
        background-size: cover;
    }
    .pokeballacceuil {
        // display: block;
        position: absolute;
        background: none;
        border: none;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-repeat: no-repeat;
        height: 150px;
        width: 150px;
        background-size: contain;
        background-image: url(./assets/ball.png);
        &:hover {
            animation: animation 1s ease-in-out;
        } 
    }
}
.hyperball, .masterball {
    height: 200px;
    cursor: pointer;
    width: 200px;
    transform: translate(0, -50%);
    top: 50%;
    position: absolute;
    z-index: 0;
    border: none;
    background: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}
.hyperball {
    left: -50%;
    background-image: url(./assets/kindpng_1075632.png);
}
.masterball {
    right: -50%;
    background-image: url(./assets/pngkit_master-ball-png_2289581.png);
    


}