* {
  font-family: 'Pokemon Solid', sans-serif;
}

@-webkit-keyframes animation {
  from {
    -webkit-transform: rotate(0deg) scale(2);
            transform: rotate(0deg) scale(2);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animation {
  from {
    -webkit-transform: rotate(0deg) scale(2);
            transform: rotate(0deg) scale(2);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes hyperballappear {
  from {
    left: -50%;
  }
  to {
    left: 25%;
  }
}

@keyframes hyperballappear {
  from {
    left: -50%;
  }
  to {
    left: 25%;
  }
}

@-webkit-keyframes masterballappear {
  from {
    right: -50%;
  }
  to {
    right: 25%;
  }
}

@keyframes masterballappear {
  from {
    right: -50%;
  }
  to {
    right: 25%;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  margin: 0;
  padding: 0;
}

#foobar {
  display: none;
}

.center {
  position: relative;
  overflow: hidden;
  color: black;
  margin: 0;
  padding: 0;
  background-color: #fb1d20;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.center #ball {
  width: 45%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}

.center #ball:hover {
  -webkit-animation: giggle 0.3s ease-in-out;
          animation: giggle 0.3s ease-in-out;
  cursor: pointer;
}

.center #picture {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 90vw;
  height: 90vh;
  background-image: url(./assets/poke.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: none;
}

.center #picture #score_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: absolute;
  left: 65em;
}

.center #picture #score_container #score_incrementation {
  font-size: 80px;
  color: #4067af;
}

.center #picture #score_container #slash {
  font-size: 80px;
  color: #f9e112;
}

.center #picture #score_container #total {
  font-size: 80px;
  color: #4067af;
}

#container {
  color: #fb1d20;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#container #props {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
}

#container #props button {
  font-size: 32px;
  cursor: pointer;
  letter-spacing: 5px;
  color: #f9e112;
  background: #4067af;
  border-radius: 10px;
  line-height: 40px;
  border: none;
}

#container #props button:hover {
  -webkit-animation: giggle 0.2s ease-in-out forwards;
          animation: giggle 0.2s ease-in-out forwards;
}

#container #bg {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
}

#quizz {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#poke {
  -webkit-filter: brightness(0);
          filter: brightness(0);
  width: 20%;
  margin-right: auto;
  margin-left: 220px;
  margin-top: 90px;
}

@-webkit-keyframes giggle {
  30% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  70% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes giggle {
  30% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  70% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes gameLaunched {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  100% {
    opacity: 0.6;
    right: 500px;
    bottom: 100px;
    -webkit-transform: scale(0) rotate(350deg);
            transform: scale(0) rotate(350deg);
  }
}

@keyframes gameLaunched {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  100% {
    opacity: 0.6;
    right: 500px;
    bottom: 100px;
    -webkit-transform: scale(0) rotate(350deg);
            transform: scale(0) rotate(350deg);
  }
}

@-webkit-keyframes bgDisplay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bgDisplay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container--acceuil {
  background-image: url(./assets/pokemonmap.png);
  background-size: cover;
  background-position: center center;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 80vh;
  width: 80vw;
  background-color: #4067af;
}

.container--acceuil #leftpic, .container--acceuil #rightpic {
  height: 100%;
  width: 50%;
  background-color: blue;
  border: 10px black solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 1;
  -webkit-transition: 2s;
  transition: 2s;
}

.container--acceuil #leftpic {
  background-image: url(./assets/leftpic.jpg);
  background-size: cover;
}

.container--acceuil #rightpic {
  background-image: url(./assets/rightpic.jpg);
  background-size: cover;
}

.container--acceuil .pokeballacceuil {
  position: absolute;
  background: none;
  border: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  background-size: contain;
  background-image: url(./assets/ball.png);
}

.container--acceuil .pokeballacceuil:hover {
  -webkit-animation: animation 1s ease-in-out;
          animation: animation 1s ease-in-out;
}

.hyperball, .masterball {
  height: 200px;
  cursor: pointer;
  width: 200px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  top: 50%;
  position: absolute;
  z-index: 0;
  border: none;
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}

.hyperball {
  left: -50%;
  background-image: url(./assets/kindpng_1075632.png);
}

.masterball {
  right: -50%;
  background-image: url(./assets/pngkit_master-ball-png_2289581.png);
}
/*# sourceMappingURL=style.css.map */