h1{
    font-size: 100px;
    margin-top: auto;
    margin-bottom: auto;
    color: red;
    text-align: center;
}

#container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#quizz{
    width: 100%;
    display: flex;
}

#poke{
    filter: brightness(0);
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    
}